

#image1{
  position: relative;
}
#head{
  position: absolute;
  float: left;
  margin-left: 38%;
  top: 4%;
  font-size: 25px;
  color: grey;
}
#head1{
  position: absolute;
  margin-left: 48%;
  top: 4%;
  font-size: 25px;
  color: grey;
}

#head2{
  position: absolute;
  margin-left: 58%;
  top: 4%;
  font-size: 25px;
  color: grey;
}

#head3{
  position: absolute;
  margin-left: 68%;
  top: 4%;
  font-size: 25px;
  color: grey;
}

#logo{
  position: absolute;
  float: left;
  margin-left: 18%;
  top: 14px;
  
}

#small1{
  float: left;
  padding: 25px 15px;
  margin-left: 14%
}

#small2{
  float: left;
  margin-right: 10px;
  padding: 25px 20px;
}

#small3{
  padding: 25px 15px
}

#big{
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 20px
}

#big2{
  margin-left:15%;
  margin-bottom: 25px;
  float: left;
}

#foot{
  position: relative;
  margin-top: 10%;
}

#lorem{
 margin-left: 50%;
 margin-right: 20%;
}

#loremHead{
  text-align: center;
  font-size: larger;
  text-emphasis: bold;
}

#loremBody:hover{
  height: 200px;
  overflow-y: scroll;
  font-size: larger;
  background-color: bisque;
}

#button:hover{
  font-size: 15px;
  color: blue;
  float: left;
}

#button{
  color: white;
  background-color: black;
}